/* * {
  box-sizing: border-box;
} */
body {
  font-family: sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
}

/* side bar hidden */
.sidebar {
  display: none;
}
.check {
  display: none;
}
label {
  display: none;
}

/* First Div */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.navbar div {
  justify-content: center;
  align-items: center;
}
.navbar div h1 {
  padding: 10px;
  margin: 0;
}
.logo {
  width: 80px;
  height: 80px;
}
.navlist {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
.navlist li {
  display: flex;
  text-decoration: none;
}
.navlist li a {
  display: flex;
  text-decoration: none;
  color: #000000;
  font-family: sans-serif;
  font-weight: 700;
  font-size: larger;
}
.navlist li a:hover {
  border-bottom: 2px solid navy;
}

/* Second Div */
section {
  position: sticky;
}
.home {
  position: relative;
}
.slideshow-img {
  position: absolute;
  object-fit: cover;
  /* z-index: -1; */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

/* .slideshow-img:first-child {
  display: block;
} */
/* Third Div */

.aboutus {
  display: flex;
  position: relative;
  top: 600px;
  width: 100%;
  height: 300px;
  color: #fff;
  background-color: #222;
}

blockquote {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
/* Fourth Div */

.services {
  font-family: sans-serif;
  width: 100%;
  position: relative;
  top: 600px;
  height: 600px;
  padding-top: 2rem;
  color: #fff;
  background-image: url('../background.jpg');
  background-repeat: repeat;
}

.services h2,
.services p {
  padding-left: 3rem;
  text-align: center;
}

.servicelist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 3rem;
}

.servicelist li {
  display: flex;
  border: #fff;
  width: 40vw;
  margin: 1rem;
  box-shadow: 1px 1px 1px 1px #dcdcdc;
  font-family: sans-serif;
  position: relative;
  text-decoration: none;
  padding: 20px;
  border-radius: 2px;
}

.gallery {
  display: flex;
  flex-direction: column;
  top: 700px;
  justify-content: center;
  align-items: center;
}
.gallery button,
.gallery-pg button {
  justify-self: center;
  color: #fff;
  background: rgb(241, 66, 66);
  border: none;
  height: 30px;
}
.gallery button a,
.gallery-pg button a {
  text-decoration: none;
  color: #fff;
}
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery-grid img {
  width: 400px;
  height: 400px;
  margin: 0.5rem;
  justify-self: center;
}
.gallery-pg {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* fifth Div */

.contactus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(50, 50, 68);
  position: relative;
  top: 800px;
  color: white;
  width: 100%;
}

.logo img {
  width: 250px;
  height: 200px;
  margin: 20px;
  border: 1px solid rgb(31, 31, 167);
  border-radius: 2em;
}

.address {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.address h3 {
  font-family: sans-serif;
}
.address ul {
  padding: 0;
}
.address ul h4 {
  font-family: sans-serif;
  margin-bottom: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  left: 0;
}
.address ul li {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: none;
}
.signup {
  font-family: sans-serif;
  padding-top: 10px;
  margin: auto 2rem;
}

.subcribe {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: none;
  color: white;
  border: 2px solid rgb(13, 94, 24);
  border-radius: 1em;
  cursor: pointer;
  text-decoration: none;
}

/* Sixth Div */

footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  top: 800px;
  align-items: center;
  background-color: black;
  color: rgb(163, 162, 162);
  height: 30px;
}
footer p {
  margin: 0;
}

/* Projects */

.projects__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.projects__item {
  border-bottom: 2px solid navy;
  padding: 10px;
  margin: 10px;
}

.projectsContent {
  color: #fff;
  padding: 10px;
  margin-left: 20px;
}

/* form */

/* Style inputs, select elements and textareas */
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #000;
}

/* Style the submit button */
.submit {
  background-color: #4caf50;
  padding: 12px 20px;
  margin-top: 12px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  width: 100%;
  margin-top: 6px;
  color: #000;
}
/* Floating column for inputs: 75% width */
.col-75 {
  width: 100%;
  margin-top: 6px;
  color: #000;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 768px) {
  body {
    font-family: sans-serif;
    background: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  /* side bar hidden */
  label {
    display: block;
  }
  .check {
    display: block;
  }
  .navbar {
    display: flex;
    color: whitesmoke;
  }
  .navlist {
    display: none;
  }

  .sidebar {
    display: block;
    position: fixed;
    left: -200px;
    width: 200px;
    margin: 0;
    top: 0;
    height: 50vh;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .sidebar header {
    display: block;
    font-size: 30px;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    line-height: 35px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    user-select: none;
  }
  .sidebar .navlist {
    display: block;
    margin: 0;
    padding: 0;
  }
  .sidebar .navlist a {
    display: block;
    list-style: none;
    text-decoration: none;
    width: 100%;
    line-height: 30px;
    font-size: 30px;
    color: white;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: 0.4s;
  }
  .navlist li:hover a {
    padding-left: 25px;
  }

  #check {
    display: none;
  }

  label #btn,
  label #cancel {
    position: fixed;
    cursor: pointer;
    background: black;
    border-radius: 1px;
    z-index: 1000;
  }
  label #btn {
    left: 20px;
    top: 10px;
    font-size: 20px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  label #cancel {
    z-index: 1111;
    left: -200px;
    top: 10px;
    font-size: 15px;
    color: #0a5275;
    padding: 2px 4px;
    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 100px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 170px;
  }
  /* #check:checked ~ .home {
    margin-left: 100px;
  }
  #check:checked ~ .aboutus {
    margin-left: 100px;
  }
  #check:checked ~ .services {
    margin-left: 100px;
  }
  #check:checked ~ .contactus {
    margin-left: 100px;
  } */

  /* First Div */

  /* Second Div */

  .home {
    position: relative;
  }
  .slideshow-img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* z-index: -1; */
    /* display: none; */
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }

  /* .slideshow-img:first-child {
    display: block;
  } */
  /* Third Div */

  .aboutus {
    display: flex;
    width: 100%;
    height: 500px;
    top: 300px;
    flex-direction: row;
    color: #fff;
  }

  .aboutimg {
    display: none;
  }

  blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Fourth Div */

  .services {
    font-family: sans-serif;
    position: relative;
    top: 300px;
    width: 100%;
    height: 900px;
    color: #fff;
  }

  .services h2,
  .services p {
    margin: 0;
    padding: 0.5rem;
  }

  .servicelist {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .servicelist li {
    display: flex;
    font-family: sans-serif;
    text-decoration: none;
    width: 80vw;
    border: #fff;
    margin: 1rem;
    box-shadow: 1px 1px 1px 1px #dcdcdc;
    /* background-color: rgb(50, 50, 68); */
  }

  .gallery {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 300px;
    justify-content: center;
    align-items: center;
  }
  .gallery-pg {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery button,
  .gallery-pg button {
    justify-self: center;
    color: #fff;
    background: rgb(241, 66, 66);
    border: none;
    height: 50px;
    width: 100%;
  }
  .gallery button a,
  .gallery-pg button a {
    text-decoration: none;
    color: #fff;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .gallery-grid img {
    width: 300px;
    height: 300px;
    margin: 0.5rem;
    justify-self: center;
  }
  /* fifth Div */

  .contactus {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    font-family: sans-serif;
    top: 300px;
    width: 100%;
    color: #000;
  }
  /* .contactus .A1 {
    background: rgb(58, 58, 121);
  } */

  .address {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: #fff;
  }

  .address h3 {
    font-family: sans-serif;
  }
  .address ul {
    padding: 0;
  }
  .address ul h4 {
    font-family: sans-serif;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    left: 0;
  }
  .address ul li {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
  }

  /* Sixth Div */

  footer {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 300px;
    align-items: center;
    background-color: black;
    color: rgb(163, 162, 162);
  }
  footer p {
    margin: 0;
    padding: 0;
  }
}

/* form */

/* Style inputs, select elements and textareas */
h4 {
  color: #fff;
}
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #000;
}

/* Style the submit button */
.submit {
  background-color: #4caf50;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  width: 25%;
  margin-top: 6px;
  color: #000;
}
/* input {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */
/* Floating column for inputs: 75% width */
.col-75 {
  width: 75%;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #000;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/*  image slider */
.slidercontainer {
  top: 800px;
  width: 100%;
}
.showSlide {
  display: inline-flex;
}
.showSlide img {
  width: 100%;
}
.slidercontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
  background-color: rgba(115, 115, 115, 0.8);
}
.content {
  color: #eff5d4;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  width: 80%;
  text-align: center;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
